.booking_time_component{
    padding: 10px 12px;
    background-color: #fff;
    display: inline-block;
    border-radius: 8px;
    margin: 8px 4px;
    cursor: pointer;
    p{
        color: black;
        font-weight: 500;
        display: inline-block;
    }
}