.messages {
    min-height: 100vh;
    background-color: #fff;
  .nav {
    margin-top: 90px;
    h1 {
      color: black;
      font-weight: 700;
      font-size: 32px;
      position: absolute;
      text-align: center;
      width: 375px;
      top: 30px;
      border-bottom: #F2F1F8 2px solid;
      padding-bottom: 12px;
    }
  }
}
